.instructors_main {}

.instructors_wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.googleMap {
    margin-top: 80px;
}

.instructors_mapTitle_wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.instructors_mapTitle {
    font-size: 30px;
    font-weight: bold;
}

.instructors_upperBackground {
    background: url("../img/instructor_bg.jpeg") center center no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.instructors_upperBlockWrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.instructors_mainTitle {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-top: 100px;
    max-width: 570px;
}

.instructors_text {
    color: #fff;
    max-width: 570px;
    margin-top: 40px;
}



.instructors_ourInstructors{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
}

.instructor{
    margin: 50px 10px;
    height: 300px;
    width: 250px;
    border: 1px solid black;
    background-color: #264796;
}

.instructor_textWrapper{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
}