.studyOnline_main{
    
}

.studyOnline_wrapper{
    max-width: 1180px;
    margin: 0 auto;
}

.studyOnline_title{
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;

}

.studyOnline_text{
    font-size: 20px;
    margin-top: 30px;
}

.studyOnline_subTitle{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.studyOnline_wrapper ul li{
    font-size: 20px;
    color:#000;
    margin-top: 5px;
}

.studyOnline_wrapper ul{
    list-style-type:circle;
}

.googleMap{
    margin-top: 80px;
}