/* GLOBAL */
a {
    text-decoration: none;
    color: black;
}

* {
    border: none;
    outline: none;
}

body, html{
    width: 100%;
    height: 100%;
}

/* GLOBAL */

/* HEADER */

.header {
    max-height: 136px;
    max-width: 930px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.header_schedule {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 38px;
}


.header_telNumber {
    margin-left: 34px;
}

.header_telephons {
    font-size: 12px;

}

.header_number {
    font-size: 12px;
    text-decoration: none;
    color: black;

}


.header_network_wrapper {
    margin-left: 87px;
}

.header_button {
    background-color: #E63C24;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
    cursor: pointer;
}

/* HEADER */
/* NAV */

.nav {
    height: 68px;
    background-color: #264796;
    position: relative;
}


/* HAMBURGER MENU */

.checkbox {
    position: absolute;
    display: none;
    height: 32px;
    width: 32px;
    top: 30%;
    left: 85%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav .hamburger-lines {
    display: none;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 30%;
    left: 85%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav .hamburger-lines .line {
    display: none;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.nav input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

 nav .menu-items {
    display: none;
    padding-top: 120px;
    position: absolute;
    background-color: #264796;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    list-style-type: none;
    z-index: 1;
}

 nav .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 20px;
    font-weight: 500;
    
}

 nav .menu-items li a{
    color: #fff;
    
}

 nav input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

/* HAMBURGER MENU */


.nav_menu {
    height: inherit;
    display: flex;
    max-width: 930px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav_menu li {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_menu li:first-child:hover {
    background-color: #E63C24;
}

.nav_menu li:hover {
    background-color: #E63C24;
}

.nav_menu li:first-child:hover .hidden_menu_categories {
    display: block;
}


#prices:hover .hidden_menu_prices {
    display: block;
}

.nav_menu li:last-child:hover {
    background-color: #E63C24;
}

.nav_menu li:last-child:hover .hidden_menu_aboutUs {
    display: block;
}


.nav_menu li a {
    color: #fff;
    font-size: 12px;
    font-weight: bolder;
}


/* HIDDEN MENU */
.hidden_menu_categories {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 220px;
    height: 300px;
    background-color: #E63C24;
}

.hidden_menu_categories li {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hidden_menu_categories li a {
    font-size: 12px;
    color: #fff;
    font-weight: bolder;
}

.hidden_menu_categories li:first-child:hover {
    background-color: #264796;
}

.hidden_menu_categories li:last-child:hover {
    background-color: #264796;
}

.hidden_menu_categories li:hover {
    background-color: #264796;
}



.hidden_menu_prices {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 220px;
    height: 180px;
    background-color: #E63C24;
}


.hidden_menu_prices li {
    height: 33.333%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hidden_menu_prices li a {
    font-size: 12px;
    color: #fff;
    font-weight: bolder;
}

.hidden_menu_prices li:first-child:hover {
    background-color: #264796;
}

.hidden_menu_prices li:last-child:hover {
    background-color: #264796;
}


.hidden_menu_prices li:hover {
    background-color: #264796;
}



.hidden_menu_aboutUs {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 220px;
    height: 360px;
    background-color: #E63C24;
}


.hidden_menu_aboutUs li {
    height: 16.666%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hidden_menu_aboutUs li a {
    font-size: 12px;
    color: #fff;
    font-weight: bolder;
}

.hidden_menu_aboutUs li:first-child:hover {
    background-color: #264796;
}

.hidden_menu_aboutUs li:last-child:hover {
    background-color: #264796;
}

.hidden_menu_aboutUs li:hover {
    background-color: #264796;
}

/* HIDDEN MENU */
/* NAV */
/* MAIN */
/* UPPER SECTION */
/* MAIN FORM */

.main_form_wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;

    display: none;
    background-color: #00000098;
}

.main_form {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 360px;
    max-width: 360px;
    height: 552px;
    background-color: #264796;
    border-radius: 10px;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.main_form_title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 20px;
    text-align: center
}


.main_name {
    margin-right: 220px;
    font-size: 16px;
}

#main_name {
    width: 290px;
    height: 60px;
    border-radius: 10px;
}

.main_telephone {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 20px;
    text-align: center;
    margin-right: 220px;
    font-size: 16px;
}

#main_tel {
    width: 290px;
    height: 60px;
    border-radius: 10px;
}

.main_choseCategorie {
    margin-right: 150px;
    font-size: 16px;
}

#main_select {
    width: 290px;
    height: 60px;
    border-radius: 10px;
}

.main_wrapper_consentToProcessing {
    display: flex;
    align-items: center;
}

#main_checkbox {
    width: 20%;
    height: 20px;
}

.main_consentToProcessing {
    width: 70%;
    font-size: 10px;
    margin-right: 90px;
}

.main_form_button {
    max-width: 290px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #E63C24;
    color: #fff;
    cursor: pointer;
}


/* MAIN FORM */




.upperSection {
    height: 10.08%;
    background-image: url("../img/upperSection_bg.png");
    background-repeat: no-repeat;
    background-position: center 0;
}

.upperSection_wrapper {
    max-width: 930px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upperSection_title {
    margin-right: 20.54%;
    text-align: center;
    font-size: 40px;
    color: #fff;
    width: 42.37%;
    font-weight: bolder;
    line-height: 60px;
}

/* FORM */
.upperSection_form {
    min-width: 360px;
    max-width: 360px;
    height: 552px;
    background-color: #264796;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin: 50px;
    margin-top: 5.38%;
    margin-bottom: 5.38%;
}

.form_title {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 20px;
    text-align: center
}


.name {
    margin-right: 61.11%;
    font-size: 16px;
}

#name {
    width: 81.67%;
    height: 60px;
    border-radius: 10px;
}

.telephone {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 20px;
    text-align: center;
    margin-right: 61.11%;
    font-size: 16px;
}

#tel {
    width: 81.67%;
    height: 60px;
    border-radius: 10px;
}

.choseCategorie {
    margin-right: 41.67%;
    font-size: 16px;
}

#select {
    width: 81.67%;
    height: 60px;
    border-radius: 10px;
}

.wrapper_consentToProcessing {
    display: flex;
    align-items: center;
}

#checkbox {
    width: 20%;
    height: 20px;
}

.consentToProcessing {
    width: 70%;
    font-size: 10px;
    margin-right: 90px;
}

.form_button {
    width: 81.67%;
    height: 60px;
    border-radius: 10px;
    background-color: #E63C24;
    color: #fff;
    cursor: pointer;
}

/* FORM */



/* UPPER SECTION */
/* MIDDLE SECTION */
.middleSection {
    position: relative;
    /* height: 5800px; */
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}


.middleSection_wrapper{
    width: 90%;
}

/* TESTDRIVE */
.testdrive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96.29%;
    background-color: #264796;
}

.testdrive_imageWrapper {
    width: 50%;
}

.testdrive_image {
    width: 100%;
    height: 100%;
    margin: 10px 10px;
}

.testdrive_content {
    width: 50%;
    height: 631px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.testdrive_header {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-top: 32px;
    width: 81.52%;
    text-align: center;
}

.testdrive_text {
    width: 64.86%;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.testdrive_button {
    width: 80%;
    height: 60px;
    border-radius: 10px;
    background-color: #E63C24;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 54px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

/* TESTDRIVE */
/* CATEGORIES */

.categories {
    width: 96.29%;
    height: 857px;
    margin-top: 45px;
}

.categories_cardHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 470px;
}

.cardHeader_element {
    width: 49.27%;
    height: 470px;
    background-color: #264796;
}

.categories_cardFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    width: 100%;
    height: 346px;
}

.cardFooter_element {
    width: 49.27%;
    height: 346px;
    background-color: #264796;
}

.categories_title {
    margin-left: 24.53%;
    margin-top: 13.19%;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

.categories_text {
    margin-left: 17.61%;
    margin-top: 8.72%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.categories_button {
    /* width: 34.77%; */
    width: 290px;
    height: 60px;
    border-radius: 10px;
    background-color: #E63C24;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23.93%;
    margin-top: 8.3%;
}

.cardHeader_element:first-child {
    background: url('../img/categorieA.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-color: #264796;
}

.cardHeader_element:last-child {
    background: url('../img/categorieB.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-color: #264796;
}

.cardFooter_element:first-child {
    background: url('../img/categorieC.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-color: #264796;
}

.cardFooter_element:last-child {
    background: url('../img/categorieD.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-color: #264796;
}

/* CATEGORIES */
/* ABOUT US */
.aboutUs {
    margin-top: 47px;
    width: 92.6%;

}

.aboutUs_title {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    margin-bottom: 46px;
}

.aboutUs_contentWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 78px;
    height: 58.62%;
}

.aboutUs_text {
    width: 50.72%;
    height: 50.97%;
    font-size: 32px;
}

.aboutUs_image {
    width: 49.27%;
    height: 67.61%;
}

/* ABOUT US */
/* SLIDER */
.aboutUs_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.slider_title {
    margin-bottom: 31px;
    font-size: 40px;
    font-weight: bolder;
}

.slider {
    width: 1500px;
    height: 286px;
    position: relative;
}

.slider_element {
    width: 500px;
    height: 286px;
    border: 1px solid black;
    margin-left: 10px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
}

/* SLIDER */
/* WHY WE */
.whyWe {
    max-width: 1664px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.whyWe ul li {
    font-size: 40px;
    list-style-type: disc;
}

.whyWe ul li:nth-child(even) {
    margin-bottom: 62px;
}


.whyWe_title {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 27px;
}

.whyWe_flexWrapper {
    display: flex;

}

.whyWe_leftBlock {
    width: 50%;
}

.whyWe_leftBlock ul>li {
    max-width: 560px;
}

.whyWe_separator {
    border-left: 1px solid black;
    margin: 0px 180px;
}

.whyWe_rightBlock {
    width: 50%;
}

.whyWe_rightBlock ul>li {
    max-width: 560px;
}

/* WHY WE */
/* ORDER A MANAGER */

.orderAmanager {
    margin-top: 91px;
    width: 100%;
    height: 16.21%;
    background-image: url("../img/orderAmanager.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.orderAmanager_flexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.orderAmanager_title {
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin-top: 54px;
    font-weight: bold;
}

.orderAmanager_text {
    margin-top: 64px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    max-width: 580px;
}

.orderAmanager_button {
    margin-top: 88px;
    width: 43.99%;
    height: 60px;
    border-radius: 10px;
    background-color: #E63C24;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 54px;
}

.orderAmanager_icons {
    margin-top: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1 {
    display: flex;
    align-items: center;

}

.icon2 {
    display: flex;
    align-items: center;
    margin: 0 57px;
}

.icon3 {
    display: flex;
    align-items: center;

}

.iconText {
    font-size: 28px;
    color: #fff;
    font-weight: normal;
}

/* ORDER A MANAGER */
/* OUR TEACHERS */

.ourTeachers {
    height: 10.83%;
    background-color: #877878;
}

.ourTeachers_flexWrapper {
    display: flex;
}

.leftBlock {
    width: 50%;
}

.ourTeachers_title {
    margin-top: 13.24%;
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 8.63%;
    margin-left: 12.35%;
    margin-right: 12.35%;
}

.outTeachers_text {
    max-width: 695px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 32px;
    color: #fff;

}

.buttonsBlock {
    display: flex;
    justify-content: center;
    margin-left: 12.35%;
    
}

.ourTeachers_leftButton {
    margin-top: 143px;
    width: 282px;
    height: 60px;
    border-radius: 10px;
    background-color: #E63C24;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 54px;
    font-size: 12px;
}

.ourTeachers_rightButton {
    margin-top: 143px;
    width: 282px;
    height: 60px;
    border-radius: 10px;
    background-color: #264796;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 54px;
    margin-left: 60px;
    font-size: 12px;
}

.rightBlock {
    width: 50%;
}

.rightBlock_bgImage {
    margin-top: 13.54%;
    margin-right: 6.33%;
    margin-left: 6.33%;
    width: 85.96%;
}

/* OUR TEACHERS */
/* MIDDLE SECTION */
/* MAIN */
/* FOOTER */

.footer {
    height: 140px;
    margin-top: 200px;
}

.footer_flexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_networks {
    margin-left: 40px;
    margin-right: 40px;
}

.footer_telephone {}

.footer_telephons {}

.footer_number {}

.footer_copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_dateCopyright {}

.privacyPolicy {
    text-decoration: underline;
    color: #00F0FF;
}

/* FOOTER */